.App{
  text-align: center;
}

.questionCard{
  margin: 0 auto;
  background-color: aquamarine;
  padding: 16px;
  width: 70%;
  height: auto;
  border-radius: 16px;
  color: black;
}

ul{
  list-style: none;
}
li{
  background-color: lightcyan;
  padding: 18px;
  border-radius: 16px;
  margin-top: 10px;
  font-size: 1.2em;
  font-weight: bolder;
  text-transform: capitalize;
  border: 2px solid rgb(35, 116, 136);
}

.result{
  margin: 0 auto;
  background-color: aquamarine;
  padding: 16px;
  width: 40%;
  height: auto;
  border-radius: 16px;
  color: black;
}

button{
  border-radius: 5px;
  padding: 8px;
  background-color: rgb(42, 147, 165);
  margin-left: 35px;
  font-size: large;
  text-transform: capitalize;
}